.link {
  text-decoration: none;
}

.card {
  width: 21.25rem;
  height: 20.875rem;

  border-radius: 15px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.08);

  overflow: hidden;
}

.image_container {
  position: relative;
  height: 12.4375rem;

  overflow: hidden;
}

.info_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;

  height: 8.4375rem;
  padding: 0.9375rem 1.25rem;
}

.elapsed_time {
  color: #666;

  font-family: "Pretendard";
  font-size: 0.8125rem;
}

.link_description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  color: black;
  font-family: "Pretendard";
  line-height: 1.5rem;
}

.creating_date {
  color: #333;

  font-family: "Pretendard";
  font-size: 0.875rem;
}
