.login_form {
  width: 100%;
}

.input_container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  margin: 1.875rem auto;
}

.submit_button {
  width: 100%;
  padding: 1rem 1.25rem;
  border-radius: 8px;
  border: none;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);

  color: var(--White);
  font-family: "Pretendard";
  font-size: 1.125rem;
  font-weight: 600;
}
