.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.owner_name {
  margin-top: 0.75rem;
  margin-bottom: 1.25rem;

  font-family: "Pretendard";
  line-height: 1.5rem;
}

.folder_name {
  font-family: "Pretendard";
  font-size: 2.5rem;
  font-weight: 600;
}
