:root {
  --Primary: #6d6afe;
  --Red: #ff5b56;
  --Black: #111322;
  --White: #ffffff;
  --Gray-bg: #f0f6ff;
  --Gray-10: #e7effb;
  --Gray-20: #ccd5e3;
  --Gray-60: #9fa6b2;
  --Gray-100: #3e3e43;
}

@font-face {
  font-family: "Acme";
  src: url(/fonts/Acme.ttf);
}

@font-face {
  font-family: "Pretendard";
  src: url(/fonts/Pretendard.ttf);
}

* {
  box-sizing: border-box;
}
